body {
    display: flex;
    flex-direction: column;
}

button {
    width: 200px;
    border-radius: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#toolbar {
    display: flex;
    justify-content: space-evenly;
}

#container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 506px;
    height: 506px;
    padding: 0px;
    margin: auto;
    border-width: 3px;
    border-color: gray;
    border-style: solid;
}

.square {
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    background-color: cornsilk;
}